<ion-view view-title="{{ plant.getName }}">
    <div class="bar bar-header bar-stable">
        <h1 class="title">{{ plant.getName }}</h1>
    </div>
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" ng-click="showPlantListView()">
            <i class="ion-ios-arrow-left"></i> Plante liste
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="has-header" scroll="true">

        <div class="list card">

            <div class="item item-avatar">
                <img class="full-image" ng-src="{{ plant.getPhoto[0] }}">
                <h2>{{ plant.getName }}</h2>
                <p>{{ plant.getNameLatin }}</p>
            </div>

            <div class="item item-body">

                <div id="detail-photo-div">
                    <img id="detail-photo" class="full-image" ng-src="{{ plant.getPhoto[0] }}"
                         ng-click="showPlantPhotos(plant.getID)">
                </div>

                <br>

                <b>Beskrivelse</b>
                <div class="col">
                    <p ng-click="showPlantDescriptionView(plant.getID)">
                        {{ shortPlantDescription }}...
                    </p>
                </div>
                <br>

                <b>Historie</b>
                <div class="col">
                    <p ng-click="showPlantHistoryView(plant.getID)">
                        {{ shortHistory }}...
                    </p>
                </div>
                <br>

                <b>Kendetegn</b>
                <p>
                    Farver <br>
                <div class="col">
                    <div ng-class="color" ng-repeat="color in plant.getColor"></div>
                </div>
                </p>

                <br>

                <p>Sæson</p>

                <div class="row">
                    <div class="col col-50">
                        <div class="season-photo-wrapper">
                            <img class="season-photo" ng-src="img/seasons/summer.png">
                        </div>
                    </div>

                    <div class="col col-50">
                        <div class="season-photo-wrapper">
                            <img class="season-photo" ng-src="img/seasons/spring.png">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-50">
                        <div class="season-photo-wrapper">
                            <img class="season-photo" ng-src="img/seasons/winter.png">
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="season-photo-wrapper">
                            <img class="season-photo" ng-src="img/seasons/autumn.png">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </ion-content>
</ion-view>
