<ion-view view-title="Spis-danmark">
    <div class="bar bar-header bar-stable">
        <h1 class="title">{{ plant.getName }}</h1>
    </div>
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" ng-click="showPlantListView()">
            <i class="ion-ios-arrow-left"></i> Plante liste
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content class="has-header" scroll="true">

    <div class="list card">

        <div class="item item-avatar">
            <img class="full-image" ng-src="img/PlantPictures/1/0-plant-1.jpeg">
            <h2>{{ plant.getName }}</h2>
            <p>{{ plant.getNameLatin }}</p>
        </div>

        <div class="item item-body">

            <div id="detail-photo-div">
                <img id="detail-photo" class="full-image" ng-src="img/PlantPictures/1/0-plant-1.jpeg" ng-click="showPlantPhotos()">
            </div>

            <br>

            <b>Beskrivelse</b>
            <p>
                {{ plant.getDescription }}
            </p>

            <b>Historie</b>
            <p>
                {{ plant.getHistory }}
            </p>

        </div>

    </div>

    </ion-content>
</ion-view>
