<ion-tabs class="tabs-icon-top">

    <!-- PlantList Tab -->
    <ion-tab title="Planter" icon="icon ion-leaf" href="#/tab/plant-list">
    <!--<ion-tab title="Planter" icon="icon ion-leaf" ng-click="selectTabWithIndex(0)">-->
        <ion-nav-view name="tab-plantList"></ion-nav-view>
    </ion-tab>

    <!-- Recipe Tab -->
    <ion-tab title="Opskrifter" icon-on="icon ion-ios-book" icon-off="icon ion-ios-book-outline" href="#/tab/recipe-list">
    <!--<ion-tab title="Opskrifter" icon-on="icon ion-ios-book" icon-off="icon ion-ios-book-outline" ng-click="selectTabWithIndex(1)">-->
        <ion-nav-view name="tab-recipeList"></ion-nav-view>
    </ion-tab>

    <!-- Tag Location Tab -->
    <ion-tab title="Registeringer" icon-on="icon ion-ios-location" icon-off="icon ion-ios-location-outline" href="#/tab/info">
    <!--<ion-tab title="Registeringer" icon-on="icon ion-ios-location" icon-off="icon ion-ios-location-outline" ng-click="selectTabWithIndex(3)">-->
        <ion-nav-view name="tab-info"></ion-nav-view>
    </ion-tab>

    <!-- Information Tab -->
    <ion-tab title="Info" icon-on="icon ion-ios-information" icon-off="icon ion-ios-information-outline" href="#/tab/info">
    <!--<ion-tab title="Info" icon-on="icon ion-ios-information" icon-off="icon ion-ios-information-outline" ng-click="selectTabWithIndex(3)">-->
        <ion-nav-view name="tab-info"></ion-nav-view>
    </ion-tab>

</ion-tabs>