<ion-tabs class="tabs-icon-top">


    <!-- PlantList Tab -->
    <ion-tab title="Planter" icon="icon ion-leaf" href="#/tab/plant-list">
        <ion-nav-view name="plantListTemplate"></ion-nav-view>
    </ion-tab>

    <!-- Recipe Tab -->
    <ion-tab title="Opskrifter" icon="icon ion-ios-book" href="#/tab/friends">
        <ion-nav-view name="tab-friends"></ion-nav-view>
    </ion-tab>

    <!-- Tag Location Tab -->
    <ion-tab title="Registeringer" icon="icon ion-map" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

    <!-- Settings Tab -->
    <ion-tab title="Info" icon="icon ion-ios-information" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>