<ion-view view-title="Spis-danmark">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Spis-danmark</h1>
    </div>
    <ion-content class="has-header" scroll="false">

        <h1>Hello</h1>
        {{ msg }}

        <button class="button button-block button-positive" ng-click="query()">
            Get all plants from table
        </button>

        <br>

        <button class="button button-block button-positive" ng-click="readFile()">
            Get file
        </button>

        <button class="button button-block button-positive" ng-click="createDB()">
            init db
        </button>



        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Plant ID" ng-model="plantID" value="{{ plantID }}">
            </label>
            <button class="button button-small" ng-click="grabRecord(plantID)">
                Get
            </button>
        </div>

    </ion-content>
</ion-view>
