<ion-view view-title="Spis-danmark">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Spis-danmark</h1>
    </div>
    <ion-content class="has-header" scroll="false">

        <h1>Hello</h1>
        {{ msg }}

        <button class="button button-block button-positive" ng-click="query()">
            Get query
        </button>

        <br>

        <button class="button button-block button-positive" ng-click="readFile()">
            Get file
        </button>

    </ion-content>
</ion-view>
