#detail-photo-div {
    width:100%;
    height:200px;
    overflow:hidden;
    position: relative;
}

#detail-photo {
    position: absolute;
}

#color-circle {
    width: 15px;
    height: 15px;
    background: darkgreen;
    border-radius: 50%;
}